
h1,h2,h3,h4,h5,h6 {
    font-family: 'Cinzel', serif;
}

p {
    font-family: 'Libre Baskerville', serif;
}

.img-dice1, .img-dice2 {
    padding: 3%;
    border-radius: 10%;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    background-color: #A4907C;
}

.container-dice {
    display: inline-block;
    margin: 3%;
}


.dice-button {
    background-color: #C8B6A6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto 3%;
}

.dice-button:hover {
    background-color: #F1DEC9;
}

@media (max-width: 990px) {
    .container {
        width: 100%;
    }
}